#header-pagina{
  display: flex;
  align-items: center;
  justify-content: center;
 position: sticky;
 top:0px;
 background-color: #333; /* Dark background for the header */
 padding: 1rem;
 color: white;
 display: flex;
 align-items: center; /* Center items vertically */

  font-family: 'Georgia', serif; /* Puedes reemplazar con una fuente que te guste */
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tus preferencias */
  margin: 0; /* Elimina el margen predeterminado */
  border-radius: 8px; /* Ajusta el radio de borde para una apariencia más redondeada */



}