.proveedor-row {
    display: flex;
    gap: 0.5rem;
    border: 1px solid $color-gris-medio;
    margin-bottom: 0.5rem;  
  
    .proveedor-row-datos {
      flex-basis: 30%;
      padding: 0.5rem 1rem;
      .proveedor-datos-nombre {
        background-color: lighten($color-azul, 35%);
        padding: 0.5rem;
      }
    }
    .proveedor-row-contactos {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 0.5rem 1rem;
      border-left: 1px dashed black;
    }
    &:nth-of-type(odd) {
      background-color: $color-gris-suave;
    }
  }
  fieldset{
    border: none;
  }
  .bloque-formulario{
    display:flex;
  }
  .proveedor-formulario{
    width: 50%
  }
  .proveedor-contactos-contenedor-formulario{
    width: 50%;
  }
  input{
    margin-left:1rem;
  }
  
  